<% if @vinyls.any? %>
  <div>
    <% @vinyls.each do |vinyl| %>
      <div class="block px-4 py-2">
        <div class="flex flex-col border border-yellow-500 rounded-lg p-4 flex-grow">
          <span class="font-bold text-white flex-grow"><%= vinyl.title %></span>
          <span class="text-red mb-3 flex-grow mt-0"><%= vinyl.artist_name %></span>
          <span class="text-white mb-3 flex-grow mt-0"><%= vinyl.year %></span>
          <% link_to "Voir l'album", vinyl_path(vinyl), class: "w-24 py-2 px-4 bg-yellow-500 hover:bg-yellow-600 text-sm text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50" %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>Nous n'avons pas trouvé de correspondance à votre recherche.</p>
<% end %>
