<div class="container" data-controller="search-bar">

<h1>Ma bibliothèque</h1>

<%= form_with(url: vinyls_path, method: "get", data: { search_bar_target: "form" }) do %>
  <%= text_field_tag :query,
                      params[:query],
                      placeholder: "Rechercher un vinyl...",
                      data: {
                      action: "input->search-bar#send",
                      search_bar_target: "input"
                      }%>
<% end %>

 <div data-search-bar-target="results">
    <%= render "vinyls/index", vinyls: @vinyls %>
  </div>
</div>
