<body class="bg-black min-h-screen flex justify-center items-center">
  <div class="text-center grid grid-cols-1 gap-4 overflow-auto p-8 text-white">
    <div class="container" data-controller="search-bar">
        <h1 class="text-2xl font-bold m-8 text-white">Ma bibliothèque</h1>

    <%= form_with(url: vinyls_path, method: "get", data: { search_bar_target: "form" }) do %>
      <%= text_field_tag :query,
                          params[:query],
                          placeholder: "Rechercher un vinyl...",
                          class: "px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:border-blue-500 text-gray-900",
                          data: {
                          action: "input->search-bar#send",
                          search_bar_target: "input" ,
                          }%>
    <% end %>

    <div data-search-bar-target="results">
        <%= render "vinyls/index", vinyls: @vinyls %>
      </div>
    </div>
  </div>
</body>
