<body class="bg-black min-h-screen flex justify-center items-center">
  <div class="text-center grid grid-cols-1 gap-4 overflow-auto p-8"> <!-- Utilisez CSS Grid avec une seule colonne -->
    <h1 class="text-2xl font-bold m-8 text-white">Mon vinyl</h1>
    <div class="flex flex-col items-center">
      <div class="flex">
        <span class="font-bold text-white">Nom de l'album :</span>
        <span class="text-white ml-2 text-center"><%= @vinyl.title %></span>
      </div>
      <div class="flex">
        <span class="font-bold text-white">Nom de l'artiste :</span>
        <span class="text-white ml-2 text-center"><%= @vinyl.artist_name %></span>
      </div>
      <div class="flex">
        <span class="font-bold text-white">Paru en :</span>
        <span class="text-white ml-2 text-center"><%= @vinyl.year %></span>
      </div>
        <%= link_to 'Retourner à la bibliothèque', vinyls_path, class: "m8 w-40 py-2 px-4 bg-yellow-500 hover:bg-yellow-600 text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50" %>
      </div>
    </div>
  </div>
</body>
