<span class="loader"></span>
<div class="flex flex-col justify-center items-center text-center">
  <h1 class="mt-3 font-tuskerGrotesk font-medium text-3xl text-white tracking-wider"> Un peu de patience ! </h1>
  <h2 class="font-scto text-lg text-white tracking-wide mb-6"> On digg aussi vite qu’on peut... </h2>
</div>
