<div class="container scan"
  data-controller="scan-subscription"
  data-scan-subscription-scan-id-value="<%= @scan.id %>"
  data-scan-subscription-target="scans">

  <h1>Résultat de la recherche :</h1>
  <div class="scan" data-scan-subscription-target="scans">

  </div>
</div>
