<div class="bg-dark flex flex-col justify-center items-center text-center h-screen"
     data-controller="scan-subscription"
     data-scan-subscription-scan-id-value="<%= @scan.id %>">
  <div class="text-white" data-scan-subscription-target="scans">
    <%= render "scans/loader" %>
  </div>
</div>
