<div class="bg-dark h-screen flex flex-col justify-center items-center text-center ">
  <img src= "<%= asset_path('illu1 1.svg') %>" alt="YourSVG" class="w-2/5  mb-12">
  <h1 class="font-tuskerGrotesk text-white mt-5 mb-5">Préparez-vous à agrandir votre collection...</h1>
  <p class="text-red mt-5">Scannez la pochette de votre vinyl</p>
  <%= form_with model: @scan, data: { controller: "scan" } do |form| %>
    <div class="w-max border border-red rounded-full mt-2 mb-2">
      <label for="scan_image">
        <img src= "<%= asset_path('scan.svg') %>" alt="Scan" class=" p-10">
      </label>
    </div>
    <%= form.file_field :image, class: "hidden", data: { action: "change->scan#submit" } %>
  <% end %>
</div>
