<div class="bg-dark min-h-screen flex flex-col items-center text-center">
  <img src= "<%= asset_path('illu1 1.svg') %>" alt="YourSVG" class="w-6/12 mt-32 mb-5">
  <h1 class="font-tuskerGrotesk font-normal text-white text-2xl tracking-wider">Préparez-vous à agrandir<br> votre collection...</h1>
  <%= form_with model: @scan, data: { controller: "scan" } do |form| %>
    <div class="border border-red rounded-full mt-10">
      <label for="scan_image">
        <img src= "<%= asset_path('scan.svg') %>" alt="Scan" class="w-32 p-12">
      </label>
    </div>
    <%= form.file_field :image, class: "hidden", data: { action: "change->scan#submit" } %>
  <% end %>
  <p class="text-red font-extralight mt-6 ">Scannez la pochette de votre album</p>
</div>
