@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "tusker-grotesk";
    font-weight: 700;
    src: url("TuskerGrotesk-7800Super.ttf") format("truetype");
  }

  @font-face {
    font-family: "tusker-grotesk";
    font-weight: 500;
    src: url("TuskerGrotesk-5700Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "tusker-grotesk";
    font-weight: 300;
    src: url("TuskerGrotesk-4500Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "scto-grotesk-a";
    font-weight: 500;
    src: url("Scto-Grotesk-A.ttf") format("truetype");
  }
}
