/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.fake-contour {
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #FF4747;
 }

 .scroller {
  width: 100%;
  overflow: hidden;
 }

 .div-scroller {
  left: 0;
  right: 0;
  overflow: hidden;
 }

 .scroller-inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
  var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

 audio::-webkit-media-controls-panel {
  display: flex;
  background-color: #FF4747;
  flex-direction: row-reverse;
  justify-content: end;
  border: 0;
  outline: 0;
  box-shadow: none;
}

audio::-webkit-media-controls-play-button {
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-left: 10px;
}

audio::-webkit-media-controls-current-time-display {
  color: #FFFFFF;
  text-shadow: none;
}

audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-parameters,
audio::-webkit-media-controls-time-remaining-display {
  display: none;
}

/* audio {
  border: 10px solid #FF4747;
  border-radius: 5%;
  background-color: #FF4747;
} */

 .loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

.yellow-btn:disabled {
 opacity: 0.5;
 cursor: not-allowed;
}

.vinyl {
  border-radius: 999px;
  animation: rotation 10s infinite linear forwards;
  animation-delay: 1s;
}



#dot {
  width: 2rem;
  height: 2rem;
  background-color: black;
  top: 6.5rem;
  border-radius: 999999px;
}
